<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="topnav">
        <a class="active" href="/">Home</a>
        <a href="/create">Create Users</a>
    </div>

    <div class="table-container">
        <div class="title">List Users</div>
        <table>
            <tr>
                <th>Email</th>
                <th>Name</th>
                <th>Age</th>
                <th>City</th>
                <th>Action</th>
            </tr>

            <% listUsers.forEach(function(user) { %>
                <tr>
                    <td>
                        <%= user.email %>
                    </td>
                    <td>
                        <%= user.name %>
                    </td>
                    <td>
                        <%= user.age %>
                    </td>
                    <td>
                        <%= user.city %>
                    </td>
                    <td>
                        <div class="action-buttons">
                            <a href="/update/<%= user.email %>">Edit</a>
                            <form action="/delete-user/<%= user.email %>" method="POST">
                                <button type="submit">Delete</button>
                            </form>
                        </div>
                    </td>
                </tr>
                <% }); %>
        </table>
    </div>
</body>

</html>